.link-button-wrapper {
  white-space: nowrap; }

.large-next-button {
  width: 100%;
  height: 100%;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #bfbfbf; }
