.information-page-wrapper {
  display: grid;
  height: 100%;
  grid-template-rows: 126px auto 120px; }
  .information-page-wrapper .form-control {
    overflow-y: auto;
    padding-bottom: 10px; }
    .information-page-wrapper .form-control .input-wrapper p {
      padding-bottom: 10px; }
    .information-page-wrapper .form-control > div {
      margin: auto;
      margin-top: 20px;
      width: 90%;
      display: flex;
      flex-direction: column;
      gap: 20px; }
      .information-page-wrapper .form-control > div .dropdown-wrapper {
        display: grid;
        gap: 10px; }
        .information-page-wrapper .form-control > div .dropdown-wrapper > div {
          width: min-content; }
